/**
 * CSS file for Orphans extra
 *
 * Copyright 2013-2024 Bob Ray <https://bobsguides.com>
 * Created on 04-13-2013
 *
 * @package orphans
 */

div#orphans-div {
    color: #5E5E5E;
    margin: 12px 40px 40px 0;
    padding:20px;
    font:16px helvetica, arial, freesans, clean, sans-serif;
    letter-spacing: normal;
}

div#orphans-div h2 {
    font: 28px helvetica, arial, freesans, clean, sans-serif;
    color: #5E5E5E;
    letter-spacing: normal;

}

h3.orphans {
    font: 24px helvetica, arial, freesans, clean, sans-serif;
    color: #5E5E5E;
    margin-top:30px;
    margin-bottom:10px;
}

ul.orphans {
    list-style-type: none;
    margin-top: 6px;

}

li.orphans {
    color: #5E5E5E;
    margin-left: 30px;
    font: 18px helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.3;
}

p.orphans {
    color: #5E5E5E;
    font: 18px helvetica, arial, freesans, clean, sans-serif;
}
